* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
.header__container{
    width: 100%;
    height: 85px;
    background-color: blue;
    color: white;
}
.bttn-unite.bttn-primary{
   color: #ffc900 !important;
   border-color: #ffc900 !important;
}

.main__project{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.heading__main{
    font-size: 33px;
    padding: 20px;
    font-family: 'Bree Serif', serif;
}
.heading__smaller{
    font-size: 25px;
    padding: 20px;
    font-family: 'Bree Serif', serif;
}
.back-button{
    position: relative;
}
.bttn-unite.bttn-md{
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    margin-left: 10px;
}
.paragraph__content{
    font-size: 22px;
    text-align: center;
    width: 100%
}
.list__tasks{
    font-size: 22px;
}
.projectlink{
    margin-bottom: 120px;
}
.projectlink:hover{
    color: bisque;
}
.footer__container{
    width: 100%;
    background: blue;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact-icons{
    margin-bottom: 20px;
  }
  .fa-facebook-f:before{
    padding:3px;
  }
  .footerimage__icon{
    padding: 17px;
    color: white;
    margin: 10px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 100%;
  }
  .socialnetwork{
    padding-bottom: 81px;
    padding-top: 52px;
    font-size: 25px;
    text-align: center;
    color: #ffc900;
    background-color: blue;
  }
  .footer__paragraph{
    padding: 20px;
    background-color: black;
  }
  .contact-icons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
@media screen and (min-width: 481px) and (max-width: 699px){
    .main__project{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .paragraph__content{
        font-size: 22px;
        width: 100%;
    }
    .list__tasks{
        font-size: 22px;
    }
    .projectlink:hover{
        color: bisque;
    }
}
@media screen and (min-width: 700px){
    .main__project{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .paragraph__content{
        font-size: 22px;
        width: 50%;
    }
    .list__tasks{
        font-size: 22px;
    }
    .projectlink:hover{
        color: bisque;
    }
}